:root {
  --background: #64504D;
  --shade1: #866A67;
  --shade2: #A88582;

  --highlight1: #F5C2BC;
  --hightlight2: #ECBBB6;

  --base: #CAA09C;

  --border-radius: 0.7em;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, *::after, *::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr 1fr;
  grid-template-rows: 0.2fr 1.8fr 1fr;
  gap: 0 0;
  grid-template-areas: 
  "top-bar top-bar top-bar"
  "side-bar content content"
  "side-bar content content";

  position: fixed;
  width: 100%;
  height: 100%;

  background-color: var(--background);
}