:root {
  --background: #121212;
  --color-dp01: color-mix(in srgb, #121212, white 5%);
  --color-dp02: color-mix(in srgb, #121212, white 7%);
  --color-dp03: color-mix(in srgb, #121212, white 8%);
  --color-dp04: color-mix(in srgb, #121212, white 9%);
  --color-dp06: color-mix(in srgb, #121212, white 11%);
  --color-dp08: color-mix(in srgb, #121212, white 12%);
  --color-dp12: color-mix(in srgb, #121212, white 14%);
  --color-dp16: color-mix(in srgb, #121212, white 15%);
  --color-dp24: color-mix(in srgb, #121212, white 16%);
  --color-dp48: color-mix(in srgb, #121212, white 48%);
  --color-dp65: color-mix(in srgb, #121212, white 65%);

  --border-radius: 0.7em;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  scrollbar-color: var(--color-dp24) var(--color-dp01);
}

*, *::after, *::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr 1fr;
  grid-template-rows: 0.25fr 1.8fr 1fr 145px;
  gap: 0 0;
  grid-template-areas: 
  "top-bar top-bar top-bar"
  "side-bar content content"
  "side-bar content content"
  "bottom-bar bottom-bar bottom-bar";

  position: fixed;
  width: 100%;
  height: 100%;

  background-color: var(--background);
}